html,body{
  background-color: #1D1D1D;
  font-family: sans-serif;

}

.tareas-lista-principal {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.aplicacion-tareas{
  display: flex;
  justify-content: space-around;
  align-items: center;

}

.tools {
  width: calc(20% - 10px);
  height: 100%;
  animation: mover 1s ease-in-out infinite alternate;
}

@keyframes mover {
  from {
    transform: translate(0, 0);
  }
  to {
    transform: translate(5px, 5px);
  }
}

.principal-container{
  
  width: 500px;
  min-height: 220px;
  background-color: #d0d0d5;
  padding: 25px;
  margin: 10px;
  border-radius: 26px;
  text-align: center;
}



.tareas-lista-principal{
 border: none;
}


