#video-container {
    margin-left: -8px;
    position: relative;
    width: 110%;
    height: 80vh;
    overflow: hidden;
    display: flex; /* Agrega una propiedad de visualización de flexbox */
    align-items: center; /* Centra verticalmente los elementos */
    justify-content: center; /* Centra horizontalmente los elementos */
  }
  
  #video-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  #video-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
  }
  
  #video-content {
    position: relative;
    text-align: center;
  }
  
  .divcontact {
    background-color: #3E644E;
    height: 30em;
    width: 40em;
    margin: 0 auto; 
    border-radius: 5%;
  }

  .textcontact{

    width: 60%;

  }
  