.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #FFF;
    padding: 8px;
    border-radius: 10px;
    margin-bottom: 2%;
}

.navbar a{
    text-decoration: none;
    color: inherit;
}

.nav_logo{
    margin-right: 50px;
    width: 8%;
    border-radius: 50%;
}

.list{
    list-style: none;
    display: flex;

    gap: 25px;
}

#toggler, .navbar label{
    display: none;
}

.navbar{
    height: 80px;
}