.navbar{
    
    width: 100%;
    margin: -10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #9AA0A8;
    padding: 7px;
    position:fixed;
    z-index: 999;

}

.navbar a{
    text-decoration: none;
    color: inherit;
}

.nav_logo{
    margin-left: 1em;
    width: 8%;
    border-radius: 50%;
}

.list{
    list-style: none;
    display: flex;
    padding-right: 2em;
    gap: 25px;
}

#toggler, .navbar label{
    display: none;
}

.navbar{
    height: 80px;
}

.NavBarbtn:hover {
    border-bottom: 3px solid grey;
   
  }
  