.divimgs{
    text-align: center;
    justify-content: center;
  }
  
  .image-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .image-grid img {
    width: 17%;
    height: auto;
    object-fit: cover;
  }

  .btnApi{

    width: fit-content;
  }
  