.titleprojects {
    padding-top: 1%;
    font-size: 500%;
    color: #FFFFFF;
       
}


.whitesection{
    text-align: center;
    background-color: #000000;
    background-attachment: fixed;
    background-size: cover;
    padding-bottom: 5em;
}

.infoprojects{
    font-weight: 3em;
    font-family: sans-serif;
    font-size: 1em;
    text-align: justify;
    line-height:1.5em;
    width: 100%;
	border: 5px solid #8CBDB8;
    border-radius: 30px;
    padding: 1em;
    background-color: #FFFFFF;
    color: #000000;

}

.screens{
    height: 35vh;
    width:90% ;
    margin: auto;

}

.contenedor-projects{
  margin-top: 1em;
  display: flex;
  justify-content: center;
  align-items: center;


}

.projects-internos{

    align-items: center;
    max-width: 35%;
    min-width: 30%;
    margin-left: 4em;
    margin-right: 4em;
}

.projects-internos-img{
  display: flex;
  justify-content: center;
  align-items: center;
   max-width: 600px;

}


.tittleprojects{
    color: #FFFFFF;
}



  