.principal-container{
    
    width: 500px;
    min-height: 220px;
    background-color: #D2E8E4;
    padding: 25px;
    margin: 10px;
    border-radius: 26px;
    text-align: center;
  }

  .tareas-lista-principal {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
  }

.tareas-lista-principal{
    border: none;
   }
   
   .tools {
    width: 5em;
    padding: 1em;
    transform: translateX(0px);
    animation: levita 6s ease-in-out infinite alternate;
  }

  .tools:hover{
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    cursor: pointer;
  }
  
  @keyframes levita {
    0% {
      transform:translateY(0px);
    }
    50% {
      transform:translateY(-20px);
    }
    100%{
      transform:translateY(0px);
    }
  }