.principal-container{
    
    width: 500px;
    min-height: 220px;
    background-color: #d0d0d5;
    padding: 25px;
    margin: 10px;
    border-radius: 26px;
    text-align: center;
  }

  .tareas-lista-principal {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
  }

.tareas-lista-principal{
    border: none;
   }
   
   .tools {
    width: 5em;
    padding: 1em;
    animation: mover 2s ease-in-out infinite alternate;
  }
  
  @keyframes mover {
    from {
      transform:rotate(10deg);
    }
    to {
      transform:rotate(-20deg);
    }
  }