
.greeting-div{
    display: flex;
    justify-content: space-between;
    text-align: center;
    padding-top: 10em;
    margin-bottom: 8%;
    background-color: #2F736E;
}

.left {
    
    width: 50%;
}

.right{
    width: 50%;
}

.greeting {
    margin-top: 60em;
    color: white;
    font-size: 5rem;
    text-align: left;
    margin: -10px;
    margin-left: 15%;
  }
  
.information {
    color: white;
    font-size: 2rem;
    text-align: left;
    margin-left: 15%;
    
  }

.profile{
    margin-top: 8%;
    width: 40%;
    border-radius: 50%;
}


 
  


  
  